:root {
    --bd-color: #e2ebed;
    --letter-color: white;
    --bd-black: #23232e;
    --box-shadow: rgba(83, 81, 81, 0.501);
    --cinza: ;
    --back-color: #afc7c7;
    --color-menu: white;
    --botao-filtro: #698a8a;
    --buttom-compra: white;
    --buttom-compra-fundo: #23232e;
    --letter-color-painel: black;
    --lupa: #3b444d;
    --lupa-hover: white;
}
.dark-mode:root {
    --letter-color-painel: #698a8a;
    --bd-color: #212529;
    --letter-color: #617878;
    --bd-black: #23232e;
    --box-shadow: #61808074;
    --back-color: #afc7c7;
    --color-menu: #afc7c7;
    --botao-filtro: #a7d0d0;
    --buttom-compra: #698a8a;
    --buttom-compra-fundo: rgba(108, 80, 80, 0.267);
    --lupa: #a7d0d0;
    --lupa--hover: white;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none !important;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    font-size: 24px;
    color: black;
}
body {
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: var(--bd-color);
}
/* header css */
header a {
    color: var(--letter-color);
    text-decoration: none;
    transition: 0.3s;
}
header a:hover {
    opacity: 0.7;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav {
    z-index: 1;
    color: var(--letter-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    background: var(--bd-black);
    height: 8vh;
}
.nav-list {
    list-style: none;
    display: flex;
    cursor: pointer;
}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu {
    z-index: 3;
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--color-menu);
    margin: 8px;
}
.selecione {
    color: var(--botao-filtro);
    background-color: var(--buttom-compra);
}
.search input {
    color: var(--botao-filtro);
}
.section-container label {
    color: var(--letter-color-painel);
}
.select-container input {
    background-color: var(--buttom-compra);
    color: var(--botao-filtro);
}

.search-filter {
    color: var(--letter-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 1vw;
}
.search input {
    color: var(--letter-color);
    background-color: var(--buttom-compra);
    display: inline-block;
    width: 200px;
    height: 30px;
    padding: 0 10px;
    border-radius: 20px 0 0 20px;
    border: 3px solid var(--bd-black);
    border-right: 0;
}
.search {
    color: var(--letter-color);
    right: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
}
.search button {
    color: var(--letter-color);
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    background-color: var(--buttom-compra);
    width: 40px;
    height: 30px;
    padding: 0 10px;
    border-radius: 0px 20px 20px 0px;
    border: 3px solid var(--bd-black);
    border-left: 0;
}
.search button:hover {
    background-color: var(--bd-black);
    color: var(--lupa--hover);
}
.produtos-container {
    left: auto;
}
#botao-filtro {
    color: var(--botao-filtro);
    font-size: 23px;
    border-radius: 20px;
    padding: 10px;
}
#botao-filtro:hover {
    color: var(--letter-color);
    background-color: var(--bd-black);
}
#titulo-produto {
    color: var(--letter-color-painel);
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}
.section-container {
    color: var(--letter-color-painel);
    position: relative;
    text-align: center;
    padding: 1%;
}
.produtos-container {
    display: flex;
    justify-content: flex-end;
}
.tittle-produtos {
    margin-left: 5px;
}
.painel {
    z-index: 0;
    padding: 1.5%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-row-gap: 45vh;
    position: relative;
}
.card-conteiner {
    display: flex;
    color: var(--botao-filtro);
}

.card {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    display: flex;
    border: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 40vh;
    border-radius: 5%;
    box-shadow: 0.9vh 0.9vh 0.9vh 0.9vh var(--box-shadow);
    cursor: pointer;
}
.card0 {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    display: flex;
    border: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    height: 40vh;
    border-radius: 5%;
    box-shadow: 0.9vh 0.9vh 0.9vh 0.9vh var(--box-shadow);
    cursor: pointer;
    opacity: 0.5;
}
.card:hover {
    border: none;
    transform: scale(1.05);
}
.imagem-produto {
    object-fit: scale-down;
    width: 17vw;
    height: 20vh;
}
.cartao {
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}
.face {
    position: absolute;
    display: flex;
    width: 20vw;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.front {
    transform: rotateY(180deg);
}
.back {
    background-color: var(--back-color);
    backface-visibility: hidden;
}
.flip {
    transform: rotateY(180deg);
}
.button-compra {
    border-radius: 25px;
    font-size: 20px;
    padding: 10px 25px;
    background-color: var(--buttom-compra-fundo);
    text-decoration: none;
}
.button-compratext {
    color: var(--buttom-compra);
}
.esgotado {
    color: red;
}
/* footer css  */
#site-footer {
    width: 100%;
    background-color: var(--bd-black);
    display: flex;
    position: absolute;
    bottom: -2500px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
}
#footer-container img {
    width: 70%;
    height: 70%;

    object-fit: scale-down;
    cursor: pointer;
}
#logos-footer {
    display: flex;
    justify-content: space-between;
    width: 55px;
    align-items: center;
    flex-direction: row;
}
#logos-footer img {
    width: 25px;
    height: 25px;
    object-fit: scale-down;
    cursor: pointer;
}

#texto-footer {
    display: flex;
    color: var(--letter-color);
}

/* mediacare */

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: fixed;
        top: 0vh;
        right: 0;
        width: 30vw;
        height: 100vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .painel {
        z-index: 0;
        padding: 1.5%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 32px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        grid-row-gap: 45vh;
        position: relative;
    }
    .face {
        width: 20vw;
        height: 40vh;
    }
    .card {
        font-size: 20px;
        width: 20vw;
        height: 40vh;
    }
    .card0 {
        width: 20vw;
        height: 40vh;
        opacity: 0.5;
    }
}
@media (max-width: 600px) {
    .logo {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .painel {
        grid-template-columns: repeat(2, auto);
    }
    .face {
        position: absolute;
        display: flex;
        width: 35vw;
        height: 40vh;
    }
    .card {
        width: 35vw;
        height: 40vh;
    }
    .card0 {
        width: 35vw;
        height: 40vh;
    }
    #site-footer {
        bottom: -4100px;
    }
    #site-footer {
        flex-wrap: wrap;
    }
}
@media (max-width: 445px) {
    .imagem-produto {
        height: 100%;
    }
    .material-symbols-outlined {
        font-size: 16px;
        margin-left: -8px;
    }
    .search button {
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 25px;
    }
    .button-compra {
        padding: 3px 4px;
        font-size: 16px;
    }
    #footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    #footer-container img {
        width: 50%;
        height: 50%;
        margin-bottom: 10px;
    }
    .logo {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    #logos-footer {
        margin-bottom: 10px;
    }
    .painel {
        grid-template-columns: repeat(1, auto);
    }
    .face {
        position: absolute;
        display: flex;
        width: 40vw;
        height: 40vh;
    }
    .card {
        width: 40vw;
        height: 40vh;
        font-size: 15px;
    }
    .card0 {
        width: 40vw;
        height: 40vh;
        font-size: 15px;
    }
    #site-footer {
        bottom: -7100px;
        max-height: 350px;
        padding: 10px 15px 10px 15px;
        justify-content: space-around;
    }
    #texto-footer {
        text-align: center;
        font-size: 16px;
    }
    .search-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
        justify-content: center;
        gap: 20px;
    }
    .search input {
        display: inline-block;
        width: 150px;
        height: 20px;
        padding: 0 10px;
        border-radius: 20px 0 0 20px;
        border: 3px solid #766d6d;
        border-right: 0;
    }
    .search {
        right: auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .search button {
        cursor: pointer;
        transition: 0.3s;
        display: inline-block;
        background-color: white;
        width: 15px;
        height: 20px;
        padding: 0 8px;
    }
    #botao-filtro {
        font-size: 16px;
        border-radius: 20px;
        padding: 5px;
    }
    #botao-filtro:hover {
        background-color: #6d6d7b;
    }
}
.nav-list.active {
    transform: translateX(0);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
